.container {
    display: flex;
    justify-content: center;
}

.calculator {
    margin-top: 128px;
    width: 450px;
    padding: 16px;
    background-color: #353535;
    border-radius: 8px;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

button {
    border: 0px;
    border-radius: 4px;
}

button:focus-visible {
    outline: none;
}

.digit,
.operation,
.special {
    width: 104px;
    height: 64px;
    margin: 4px;
    font-size: 24px;
}

.digit {
    background-color: #b9b9b9;
}

.digit:active {
    background-color: #eeeeee;
}

.operation {
    background-color: #32ff32;
}

.operation:active {
    background-color: #86fd86
}

#equals {
    background-color: #3694ff;
}

#equals:active {
    background-color: #72b4ff;
}

.clear {
    width: 216px;
    height: 64px;
    margin-left: 4px;
    margin-bottom: 4px;
    font-size: 24px;
    background-color: #ff3c3c;
}

.clear:active {
    background-color: #ff7c7c;
}

#sign {
    background-color: #ff3c3c;
}

#sign:active {
    background-color: #ff7c7c;
}

#delete {
    margin-right: 0;
    background-color: #ff3c3c;
}

#delete:active {
    background-color: #ff7c7c;
}

.display {
    display: flex;
    width: 424px;
    height: 124px;
    margin: 4px;
    margin-bottom: 16px;
    margin-top: 0;
    padding-right: 8px;
    padding-left: 8px;
    background-color: #1b1b1b;
    font-size: 120px;
    justify-content: end;
    align-items: center;
    color: #ffffff;
    border-radius: 4px;
}